header,
nav {
	margin: 0 10px;
	padding: 10px;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*
	* Poner el logo bien
*/
.header_logo {
	display: flex;
	max-width: 200px;
}

.header_logo_img {
	width: 100%;
	height: 50px;
}

/*
	* Posicionar el carrito, y la cuenta de productos del carrito
*/
.header_carrito {
	position: relative;
}

.header_carrito_count {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #30cfd0;
	color: black;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header_icon {
	font-size: 55px;
	color: black;
}

/*

	* Formato de los seacrh

*/

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.search__input {
	font-family: inherit;
	font-size: inherit;
	background-color: #f4f2f2;
	border: none;
	color: #646464;
	padding: 0.7rem 1rem;
	border-radius: 30px;
	width: 30em;
	transition: all ease-in-out 0.5s;
	margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
	box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
	outline: none;
	background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
	font-weight: 100;
	color: #ccc;
}

.search__input:focus + .search__button {
	background-color: #f0eeee;
}

.search__button {
	border: none;
	background-color: transparent;
	margin-top: 0.1em;
	padding: 0;
}

.search__button:hover {
	cursor: pointer;
}

.search__icon {
	height: 1.3em;
	width: 1.3em;
	fill: #b4b4b4;
}
