/*
	* Hacer que los adjetivos esten en un grid de una linea con 4 columnas.
*/
.adjetivos {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 15px;
	place-items: center;
	margin: 20px 0;
	justify-content: center;
}

.adjetivos-objetos {
	position: relative;
	display: flex;
	align-items: center;
}

/*
	* Darle el formato de tamaño al icono y los titulos.
*/
.adjetivos-objetos_icon {
	font-size: 50px;
	margin-right: 5px;
}

.adjetivos-objetos_title {
	margin-bottom: 5px;
}
